.home {
  width: 70%;
  margin: 0 auto;
  .button-container {
    margin-bottom: 10px;
    text-align: right;
    border: none;

    .custom-button {
      background: #36304a;
      color: #fff;
      font-weight: bold;
      padding: 10px;
    }
  }
}
