<div class="home">

  <div>
    <h2>Order List</h2>
  </div>

  <div class="button-container">
    <button class="custom-button" @click="addOrder" title="Add Order">
      Add
    </button>
  </div>

  <div class="container">
    <!-- List all order -->
    <div class="list-container wrap-table100">
      <List :orderList.sync="orderList"/>
    </div>
  </div>
</div>
