.ml-10 {
  margin-left: 10px;
}

.text-center {
  text-align: center;
  font-weight: bold;
}

// TABLE Style

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  * {
    position: relative;
  }
  td,
  th {
    padding-left: 8px;
    text-align: left;
  }

  thead {
    tr {
      height: 60px;
      background: #36304a;
      &.table-head {
        th {
          font-size: 18px;
          color: #fff;
          line-height: 1.2;
          font-weight: unset;
        }
      }
    }
  }

  tbody {
    tr {
      height: 100px;
      font-size: 15px;
      color: #808080;
      line-height: 1.2;
      font-weight: unset;
      &:hover {
        color: #555555;
        background-color: #f5f5f5;
        cursor: pointer;
      }
      &:last-child {
        border: 0;
      }
      &:nth-child(even) {
        background-color: #f5f5f5;
      }
    }
  }
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

// TABLE Style

// Button Style
.btn {
  position: relative;
  border: none;
  min-width: 55px;
  // font-size: 28px;
  color: #ffffff;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  &.btn-success {
    background-color: #4caf50;
  }
  &.btn-warning {
    background-color: #ffc107;
  }
  &.btn-danger {
    background-color: #f4511e;
  }
}

// Button Style

//  INPUT Style
.input-error {
  color: red;
}
input:focus {
  border-color: none;
}
.text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.text-area {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

//  INPUT Style

// @media query place at last in common css
