<table>
    <thead>
        <tr class="table-head">
            <th class="column1">Name</th>
            <th>Price($)</th>
            <th>Note</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="order, index in orderList" :key="index">
            <!-- Show Data -->
            <td v-if="order.type === 'data'">{{ order.name }}</td>
            <td v-if="order.type === 'data'">{{order.price}}</td>
            <td v-if="order.type === 'data'">{{order.note}}</td>
            <td v-if="order.type === 'data'" class="text-center">
                <a href="javascript:void(0)" @click="handleEdit(index)" class="btn btn-warning">Edit</a>
                <a href="javascript:void(0)" @click="handleDelete(index)" class="btn btn-danger ml-10">Delete</a>
            </td>

            <!-- Show Input -->
            <td v-if="order.type === 'input'">
                <div>
                    <input class="text-input" v-model="order.name" type="text" name="name" placeholder="Enter Name">
                </div>
                <span class="input-error" v-if="order.error.name">{{  order.error.name }}</span>
            </td>
            <td v-if="order.type === 'input'">
                <div>
                    <input class="text-input" v-model="order.price" @keypress="isNumber($event)" type="text" name="price" placeholder="Enter Price">
                </div>
                <span class="input-error"  v-if="order.error.price">{{order.error.price}}</span>
            </td>
            <td v-if="order.type === 'input'">
                <textarea class="text-area" v-model="order.note" placeholder="Add Note"></textarea>
            </td>
            <td v-if="order.type === 'input'" class="text-center">
                <a href="javascript:void(0)" @click="handleSave(index)" class="btn btn-success">Save</a>
                <a href="javascript:void(0)" @click="handleCancel(index)" class="btn btn-danger ml-10">Cancel</a>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="text-center" v-if="orderList.length < 1">
                No order found.
            </td>
        </tr>
    </tbody>
</table>
